.app-container {
  transition: all 0.3s ease;
}

.app-container.desktop {
  max-width: 100%; /* Example desktop style */
  margin: 0 auto;
}


.app-container.tablet {
  /* Tablet view styles */
  max-width: 768px; /* Example */
}

.app-container.mobile {
  /* Mobile view styles */
  max-width: 480px; /* Example */
}
